<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b>Title:</b>
  <%= @product.title %>
=======
  <b> title:</b>
  <%= @product. title %>
>>>>>>> 30e300228956a8aab7edbdaa07f1710ddb3e3588
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
